html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.9);
}
.encabezado{
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: center; /* Esto centra lo que esté adentro */
    padding: 10px 0;
    border-bottom: 1px solid red;
    margin-bottom: 40px;
}
.contenedor{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    padding: 10px 0;
}
.imagen{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    padding: 10px 0;
}
hr{
    margin-top: 40px;
    margin-bottom: 40px;
}
.tarjeta{
    width: 400px;
    height: auto;
    justify-content: center;
    display: flex;
    padding: 10px 0;
    background-color: black;
    border-radius: 20px;
    transition: 0.5 ease;
    margin-left: 40px;
    margin-right: 40px;
}

.nombre-logo{
    background-color: gray;
    color: white;
    width: fit-content;      /* Esto hace que el gris sea del tamaño del texto */
    padding: 10px 40px;     /* Espacio para que no se vea apretado */
    margin: 20px 0;         /* 20px arriba/abajo, 0 a los lados (flex ya lo centra) */
    text-align: center;
    border-radius: 40px;
}

.img1{
    width: 200px;
    height: 200px; 
    transition: 1s ease;
    border-radius: 40px;
    backface-visibility: hidden;
}
.img1:hover{
    transform: translateY(-20px);
    box-shadow: 1px 1px 10px 4px red;

}
.img2{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
}
footer{
    background-color: black;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.text{
    margin: 0;
}
.text p{
    display: inline-block;
    color: white;
    font-size: 20px;
    transition: 1s ease;
}
.p1{
    padding-left: 10px;
    padding-right: 10px ;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 1s ease;
}
.p1:hover{
    color: cyan;
    text-shadow: 4px 4px red;
}
footer{
    border: 1px solid red;
}
.jugador p{
    opacity: 0;
    color: white;
    text-align: center;
    transition: 0.5s ease;
}
.tarjeta:hover{
    box-shadow: 0px 0px 30px 0 red;
    transform: translateY(-10px);
}
.tarjeta:hover p{
    opacity: 1;
    font-size: 20px;
    text-shadow: 10px 10px red;
    transform: translateY(-10px);
}

@media screen and (max-width: 470px){

body{
    height: 100%;
}

tarjeta{
    height: 400px;
    width: 10000px;
}
}

